[SddmGreeterTheme]
Name=AcidHub
Name[ca]=AcidHub
Name[da]=AcidHub
Name[de]=AcidHub
Name[el]=AcidHub
Name[es]=AcidHub
Name[et]=AcidHub
Name[fi]=AcidHub
Name[ga]=AcidHub
Name[gl]=AcidHub
Name[hu]=AcidHub
Name[ia]=AcidHub
Name[ko]=AcidHub
Name[nb]=AcidHub
Name[nl]=AcidHub
Name[pl]=AcidHub
Name[pt]=AcidHub
Name[pt_BR]=AcidHub
Name[ro]=AcidHub
Name[sk]=AcidHub
Name[sl]=AcidHub
Name[sr@ijekavianlatin]=AcidHub
Name[sr@latin]=AcidHub
Name[sv]=AcidHub
Name[x-test]=xxAcidHubxx
Name[zh_CN]=AcidHub
Name[zh_TW]=AcidHub

Description=AcidHub SDDM theme.
Type=sddm-theme
Author=AcidHub
Copyright=(c) 2015, AcidHub <acidhub@craft.net.br>
Screenshot=AcidHub.jpg
License=GPL
Version=0.6
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=AcidHub
Theme-API=2.0
Website=https://github.com/BlackXT/acidhub-sddm

